<div class="w3-row" style="height: 75vh;overflow-y: auto">
  	<div class="w3-col w3-panel">
  		<div class="w3-row">
  			  	<div class="w3-row">
  			  		<div class="w3-col w3-container" style="width:30%">
  			  		  	<div class="w3-card-4 w3-container w3-leftbar w3-border-green">
  			  		  		{{>emp_partial  }}</div>
  					</div>	
  					<div class="w3-col w3-container" style="width:70%">
  							<div class="w3-card-4 w3-container w3-leftbar w3-border-green">
  								{{>empdetail_partial  }}
  							</div>
  					</div>
				</div>
  		</div>	
	</div>
</div>