<div id="cust_details" class="w3-panel w3-border w3-teal w3-round-large">
<div class="w3-row">
  <div class="w3-twothird">
  	<p>Name: \{{ name }} </p>
  </div>
  <div class="w3-third">
  	<p>Phone: \{{ phone }} </p>
  </div>
</div>
</div>
<script>
var custdetailvueObj = new Vue({
  el: '#cust_details',
  data: {
    name: 'Test',
    phone: '123456789'
  }
});
</script>