<div id="example-1">
<table class="w3-table-all w3-centered">
  <tr v-for="item in items">
    <td onmouseover="loadCustomerDetails( {{ item.customerNumber }} )">\{{ item.customerNumber }}</td>
    <td>\{{ item.customerName }}</td>
  </tr>
</table>
</div>
<script>
var example1 = new Vue({
  el: '#example-1',
  data: {
    items: []
  },
  created() {
    loadCustomers(this)
  }
})
</script>